/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>

// / enum layers = {

#define LAYER_T_DEFAULT 0
#define LAYER_T_HMRM 1
#define LAYER_T_EXTRA 2
#define LAYER_T_NAV 3
#define LAYER_T_BT 4
#define LAYER_T_MAP 5
#define LAYER_T_MAX 6

// }

/ {
    behaviors {
        hml: home_row_mod_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <150>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = < 6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 42 43 44 45 46 47 >; // List of keys on the right side of the keyboard
            hold-trigger-on-release;
        };

        hmr: home_row_mod_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <150>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = < 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 >; // List of keys on the left side of the keyboard
            hold-trigger-on-release;
        };
    };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        LAYER_T_DEFAULT {
            bindings = <
&kp ESC    &kp N1  &kp N2  &kp N3        &kp N4        &kp N5                                    &kp N6           &kp N7         &kp N8           &kp N9   &kp N0    &kp BACKSLASH
&kp TAB    &kp Q   &kp W   &kp E         &kp R         &kp T                                     &kp Y            &kp U          &kp I            &kp O    &kp P     &kp MINUS
&kp LCTRL  &kp A   &kp S   &kp D         &kp F         &kp G                                     &kp H            &kp J          &kp K            &kp L    &kp SEMI  &kp SQT
&kp LSHFT  &kp Z   &kp X   &kp C         &kp V         &kp B              &kp LBKT     &kp RBKT  &kp N            &kp M          &kp COMMA        &kp DOT  &kp FSLH  &kp RET
                           &kp LEFT_GUI  &kp LEFT_ALT  &mo LAYER_T_EXTRA  &kp SPACE    &kp RSHIFT   &mo LAYER_T_NAV  &kp BACKSPACE  &mo 5
            >;
        };

        LAYER_T_HRM {
            bindings = <
&trans  &trans               &trans           &trans           &trans             &trans                    &trans  &trans              &trans            &trans            &trans                        &trans
&trans  &trans               &trans           &trans           &trans             &trans                    &trans  &trans              &trans            &trans            &trans                        &trans
&trans  &hml LEFT_CONTROL A  &hml LEFT_GUI S  &hml LEFT_ALT D  &hml LEFT_SHIFT F  &trans                    &trans  &hmr RIGHT_SHIFT J  &hmr RIGHT_ALT K  &hmr RIGHT_GUI L  &hmr RIGHT_CONTROL SEMICOLON  &trans
&trans  &trans               &trans           &trans           &trans             &trans  &trans    &trans  &trans  &trans              &trans            &trans            &trans                        &trans
                                              &trans           &trans             &trans  &trans    &trans  &trans  &trans              &trans
            >;
        };

        LAYER_T_EXTRA {
            bindings = <
&kp GRAVE  &trans  &trans  &trans  &trans  &trans                                                 &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &trans         &trans        &trans
&trans     &trans  &trans  &trans  &trans  &trans                                                 &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &trans         &trans        &kp EQUAL
&kp CAPS   &trans  &trans  &trans  &trans  &trans                                                 &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp KP_DOT     &kp KP_EQUAL  &trans
&trans     &trans  &trans  &trans  &trans  &trans  &kp LEFT_PARENTHESIS    &kp RIGHT_PARENTHESIS  &kp KP_PLUS      &kp KP_MINUS     &kp KP_MULTIPLY  &kp KP_DIVIDE  &trans        &trans
                           &trans  &trans  &trans  &trans                  &kp KP_NUMBER_0        &kp DELETE       &trans           &trans
            >;
        };

        LAYER_T_NAV {
            bindings = <
&kp F1  &kp F2  &kp F3  &kp F4  &kp F5  &kp F6                            &kp F7  &kp F8          &kp F9          &kp F10       &kp F11          &kp F12
&trans  &trans  &trans  &trans  &kp R   &trans                            &trans  &kp HOME        &kp END         &kp PAGE_UP   &kp PAGE_DOWN    &trans
&trans  &trans  &trans  &trans  &trans  &trans                            &trans  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW  &trans
&trans  &trans  &trans  &trans  &trans  &trans          &trans    &trans  &trans  &trans          &trans          &trans        &trans           &trans
                        &trans  &trans  &kp LEFT_SHIFT  &trans    &trans  &trans  &trans          &trans
            >;
        };

        LAYER_T_BT {
            bindings = <
&bt BT_CLR  &bt BT_SEL 0      &bt BT_SEL 1       &bt BT_SEL 2       &bt BT_SEL 3  &bt BT_SEL 4                    &trans     &trans     &trans     &trans    &trans    &trans
&kp F1      &kp F2            &kp F3             &kp F4             &kp F5        &kp F6                          &kp F7     &kp F8     &kp F9     &kp F10   &kp F11   &kp F12
&kp GRAVE   &kp EXCL          &kp AT             &kp HASH           &kp DOLLAR    &kp PRCNT                       &kp CARET  &kp AMPS   &kp ASTRK  &kp LPAR  &kp RPAR  &kp TILDE
&trans      &ext_power EP_ON  &ext_power EP_OFF  &ext_power EP_TOG  &trans        &trans        &trans    &trans  &trans     &kp MINUS  &kp PLUS   &kp LBRC  &kp RBRC  &kp PIPE
                                                 &trans             &trans        &trans        &trans    &trans  &trans     &trans     &trans
            >;
        };

        LAYER_T_MAP {
            bindings = <
&to LAYER_T_DEFAULT   &to LAYER_T_HMRM  &to LAYER_T_EXTRA  &to LAYER_T_NAV  &to LAYER_T_BT  &to LAYER_T_MAP                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &kp P   &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans
            >;
        };
    };
};
